<!DOCTYPE html>
<html>
  <!-- icons from https://www.iconfinder.com/iconsets/ikooni-outline-free-basic -->
<head>
  <title>Hyperspace Integration Demo</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="https://cdn.glitch.com/b3018506-7e8b-48d7-abf4-2c158dfe960b%2F1489452439_virus.png"/>
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <script type="text/javascript" src="app.js"></script>
</head>
<body onload="appStartup();">

  {{{body}}}

</body>
</html>