<h1>Files in the Data Cache</h1>
<ul>
{{#each filenames}}
  <li style="line-height: 2em;">
    <a href="/cache/{{this}}">View "{{this}}"</a>
    <form style="display:inline" method="POST" action="/cache/drop?filename={{this}}"><button type="submit">Delete "{{this}}"</button></form>
  </li>
{{/each}}
</ul>